<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Love Me Better Vue</title>
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Barlow&family=Young+Serif&display=swap"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="app.js" defer></script>
	</head>
	<body>
		<header>
			<h1>Love me better</h1>
		</header>
		<div id="game">
			<section id="killa" class="container">
				<h2>Killa <span class="heart"></span> Love</h2>
				<div class="lovebar">
					<div class="lovebar__value" :style="killaBarStyles"></div>
				</div>
			</section>
			<section id="buddy" class="container">
				<h2>Buddy <span class="heart"></span> Love</h2>
				<div class="lovebar">
					<div class="lovebar__value" :style="buddyBarStyles"></div>
				</div>
			</section>
			<section class="container" v-if="winner">
				<h2>Game Over!</h2>
				<h3 v-if="winner === 'killa'">Killa got more love today!</h3>
				<h3 v-else-if="winner === 'buddy'">Buddy got more love today!</h3>
				<h3 v-else>Killa and Buddy got same amount of love today!</h3>
				<button @click="startGame" class="start__btn">Start New Game</button>
			</section>
			<section id="controls" class="container" v-else>
				<button @click="kissKilla" :disabled="surrender">Kiss killa</button>
				<button @click="kissBuddy" :disabled="surrender">Kiss buddy</button>
				<button @click="kissRandom" :disabled="surrender">Kiss random</button>
				<button @click="surrenderToLove" :disabled="surrender">
					Surrender to love
				</button>
			</section>
			<section id="log" class="container">
				<h2>Love battle log</h2>
				<ul>
					<li v-for="logMessage in logMessages">
						<span
							:class="{'log--killa': logMessage.actionBy === 'killa', 'log--buddy': logMessage.actionBy === 'buddy'}"
							>{{ logMessage.actionBy === 'killa' ? 'Killa' : 'Buddy'}}</span
						>
						got
						<span class="love--highlight">{{ logMessage.actionValue }}</span>
						points of <span class="love--highlight">Love</span>
					</li>
				</ul>
			</section>
			<div class="hearts first__container" v-if="surrender">
				<div class="heart__anim"></div>
				<div class="heart__anim"></div>
				<div class="heart__anim"></div>
				<div class="heart__anim"></div>
			</div>
			<div class="hearts second__container" v-if="surrender">
				<div class="heart__anim"></div>
				<div class="heart__anim"></div>
				<div class="heart__anim"></div>
				<div class="heart__anim"></div>
			</div>
		</div>
	</body>
</html>
